---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Behind the guy',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>

    <picture slot="image-container">
      <img
        src="/assets/images/about.png"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>


		<div slot="text-container">
			<h1>Greating Humans!!</h1>
			<p>
				I am Anirban Sikdar, an undergraduate Computer Science Engineering(Artificial Intelligence & Machine Learning) Student.
        I have a keen interest in Image Processing, Robotics, Deep Space research and Astronomy.
        Building visualisations and interactive systems for the concepts been taught and watching them in action is the most fun part of building things. I have also gained experience in Raspberry Pi and also on various IOT platforms as Thingsboards and Adafruit IO.<br /><br />

        I have a Problem solving instinct where when i face one i don't usually tend to back-off easily 😉.
			</p>
		</div>

	</HeroSection>
  <TextSection narrow>
    <h2>Interests</h2>
    <ul>
      <li>Machine Learning</li>
      <li>Website Building</li>
      <li>Space stuff</li>
      <li>Formula 1</li>
      <li>Image Processing</li>
      <li>Linux</li>
    </ul>
  </TextSection>

  <TextSection narrow>
  
    <h2>My path along the horizion of knowledge 📚</h2>
    <ul>
      <strong>Degree</strong>
      <li>Diploma in Automation and Robotics Engineering - 78.37%<br />
        Central Institute of Tool and Design, Hyderabad</li>
      <li>B.Tech in Computer Science Engineering(Artificial Intelligence & Machine Learning) - pursuing <br />
        Hyderabad Institute Of Technology and Management, Hyderabad</li>
      <strong>High School</strong>
      <li>ICFAI Republic High School - 8.5 GPA<br />
        </li>
    </ul>
  </TextSection>
</Layout>
