---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Behind the guy',
	description: 'About Page',
};


---

<Layout {seo}>
	<HeroSection>

    <picture slot="image-container">
      <img class="image-container"
        src="/assets/images/about.png"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>


		<div slot="text-container">
			<h1>Greating Humans!!</h1>
			<p>
				I am Anirban Sikdar, an undergraduate Computer Science Engineering(Artificial Intelligence & Machine Learning) Student.
        I have a keen interest in Image Processing, Robotics, Deep Space research and Astronomy.
        Building visualisations and interactive systems for the concepts been taught and watching them in action is the most fun part of building things. I have also gained experience in Raspberry Pi and also on various IOT platforms as Thingsboards and Adafruit IO.<br /><br />

        I have a Problem solving instinct where when i face one i don't usually tend to back-off easily 😉.
			</p>
		</div>

	</HeroSection>
  <TextSection narrow>
    <h3>Education</h3>
    <ul>
      <li>
        <b>B.Tech in Computer Science Engineering(Artificial Intelligence and Machine Learning)</b>
        <ul>
          <li>Hyderabad Institute of Technology and Management</li>
          <li>Board: JNTUH</li>
          <li>7.0-CGPA</li>
          <li>Year of Passing: 2024</li>
        </ul>
      </li>
      <li>
        <b>Diploma in Automation and Robotics Engineering</b>
        <ul>
          <li>Central Institute of Tool Design</li>
          <li>78.37%</li>
          <li>Year of Passing: 2021</li>
        </ul>
      </li>
      <li>
        <b>High School</b>
        <ul>
          <li>ICFAI Republic High School</li>
          <li>Board: SSC</li>
          <li>8.5-CGPA</li>
          <li>Year of Passing: 2018</li>
        </ul>
      </li>
    </ul>

    <h3>Skills</h3>
    <ul>
      <li>Leadership</li>
      <li>Python (Tensorflow)</li>
      <li>C++/C</li>
      <li>Java</li>
      <li>IoT(Raspberry Pi, Arduino)</li>
      <li>Linux</li>
      <li>Web Programming</li>
    </ul>
  
    <h3>Internships</h3>
      <ul>
        <li><b>One Gear Technology</b></li>
        <ul>
          <li><u>Job Profile</u>: Developer Intern</li>
          <li><u>Skills</u>: Django, React, DjangoRest Framework</li>
          <li><u>Role</u>: Creating API endpoints for various functionalities of an application interface between the user and charging stations.</li><br />
        </ul>
        <li><b>Eunoia Innovation</b></li>
          <ul>
            <li><u>Job Profile</u>: Technology Engineer</li>
            <li><u>Skills</u>: Thingsboard, Adafruit IO, RaspberryPi</li>
            <li><u>Role</u>: Establishing remote control over internet, in the project Auqaskimmer(Aqua Drone waste in water bodies).</li>
          </ul>
      </ul>

      <h3>Projects</h3>
      <ul>
        <li><b>YUKI</b></li>
        <ul>
          <li><u>Description</u>: A Companion Bot which uses facial recognition and Google Cloud Computing to predict one's emotion and gives a reaction using OLED screens
            accordingly, It used Raspberry Pi as a core computing unit with Raspberry Cam assisting the capturing part of it.</li>
          <li><u>Outcome</u>:
            Facial recognition using Opencv and connecting the Raspberry Pi to
            Google Cloud and getting emotion predictions.</li>
        </ul>
      </ul>

      <h3>Experience</h3>
      <ul>
        <li>Co-ordinator at Coding Club - HITAM from <b>Nov 2022 - present</b></li>
        <li>Head of Google Technologies at Google Developers Students Club at HITAM from <b>Aug 2022 - present</b></li>
      </ul>

      <h3>Hobbies/Interests</h3>
      <ul>
        <li>Coding</li>
        <li>Space Technology</li>
        <li>Orbital Mechanics</li>
        <li>Formula 1</li>
      </ul>
  </TextSection>
</Layout>

<style>
  .image-container {
    perspective: 1000px; /* add perspective to container for 3D effect */
  }

  img {
    transition: transform 0.5s; /* add transition effect for smooth rolling */
  }

  img:hover {
    transform: rotateY(180deg); /* rotate the image on the y-axis when hovering */
  }

</style>