---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>My Pages</h2>
			<p>Head where ever you wanna bro!!</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/about"
					title="About Page"
					imgSrc="../assets/images/screenshots/about"
				/>
				<FeatureCard
					href="/blog/"
					title="My Blogs"
					imgSrc="../assets/images/screenshots/blog"
				/>
				<FeatureCard
					href="/projects"
					title="My Projects"
					imgSrc="../assets/images/screenshots/projects"
				/>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
